header {
	height: 70px;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	border: 2px solid black;
	position: relative;
	background-color: #fff;
}

header img {
	height: 100%;
	width: auto;
	border: 2px solid black;
	float: left;
}

header nav {
	margin: 0 auto;
	height: 100%;
	width: auto;
	padding: 0;
	float: right;
	display: inline-block;
	border: 2px solid black;
}

.clearfix {
	overflow: auto;
}

header nav ul {
	list-style-type: none;
	/*text-align: center;*/
}

header nav li {
	border: 2px solid black;
	height: 100%;
	float: left;
}

header nav li a {
	display: inline-block;
	height: 100%;
	text-decoration: none;
	font-family: "Titillium Web";
	font-size: 16px;
	color: rgba(0, 0, 0, 0.502);
	border: 2px solid black;
}

/*nav {
 background: #2d2d2d;
 color: #000;
 height: auto;
 padding: 1em 0;
}

nav a {
 color: #000;
 font-size: 1em;
 text-decoration: none;
}
nav a:hover { color: #00adee ; }

nav ul { 
    float: right; 
    list-style: none;
}

nav li {
 float: left;
 font-size: 1em;
 font-weight: 400;
 margin-left: 1em;
}*/


main {
	border: 10px solid black;
}

section.introduction {
	display: block;
	text-align: center;
	background-image: url(../img/Hat@2x.jpg);
	background-size: 100% 100%;
	height: 1080px;
	position: absolute;
	border: 2px solid black;

}

.introduction ul li {
	list-style-type: none;
	display: block;
}

.introduction ul li h1 {
	display: block;
  	font-size: 120px;
  	font-family: "Teko";
  	color: rgb(255, 255, 255);
  	text-transform: uppercase;
  /*text-align: center;*/
  /*position: absolute;*/
  /*left: 368.797px;*/
  /*top: 360.681px;*/
  /*width: 1153px;*/
  /*height: 219px;*/
  /*z-index: 113;*/
}

.introduction p {
	display:;
}
